.form: {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 50%;
}

.div {
    position: relative;
    display: flex;
}

.button {
    position: absolute;
    right: 0;
}

.img {
    width: 35px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
